*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}



body{

    height:100vh;
    background:linear-gradient(120deg,#198754,#0d6efd);
    display:flex;
    justify-content:center;
    align-items:center;

}



.container{

    width:450px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);

}



.logo{

    text-align:center;
    font-size:60px;

}



h2{

    text-align:center;
    color:#198754;
    margin:15px;

}



label{

    font-weight:bold;

}



input{

    width:100%;
    padding:12px;
    margin:8px 0 15px;
    border-radius:10px;
    border:1px solid #ccc;

}



button{

    width:100%;
    padding:13px;
    background:#198754;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;

}



button:hover{

    background:#146c43;

}



.login{

    text-align:center;
    margin-top:15px;

}



a{

    color:#198754;
    font-weight:bold;
    text-decoration:none;

}
